@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes waterAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  .water-background {
    background: linear-gradient(45deg, #87CEFA 25%, #ADD8E6 25%, #ADD8E6 50%, #87CEFA 50%, #87CEFA 75%, #ADD8E6 75%, #ADD8E6 100%);
    background-size: 50px 50px;
    animation: waterAnimation 5s infinite;
  }
  